.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar--list{
    list-style: none;/* làm mất dấu chấm đầu dòng */
    padding-left: 0px;
    margin-top: 4px;
    display: flex;
   
}
.header__navbar--item{
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    position: relative;
    display: flex;/*ảnh và chữ nằm ngang*/
    justify-items: center;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
}
.header__navbar-user-name{
   margin-left: 2px;
   font-size: 1.4rem;
   font-weight: 400px;
   margin-top: -10px;
   display: inline-block;
   position: relative;
   top:-8px;
   /* thuộc tính position: relative;dùng để kế thừa lại thẻ cha và setup lại thẻ con 
   trong trường hợp thẻ con k thể setup dc vs các giá trị hiện có */
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;/*cho cao một thuộc tính  nó đi kèm với position*/
    padding-left: 0;
    top: 87%;
    right: 16px;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;/* tạo hiệu ứng bóng đổ */
    display: none;
    
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;/* kế thừa làm con thẻ cha */
    top:-8px;
    right:0;
    width: 56%;
    height: 8px;
}


li.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0,0,0,0.05);
}
.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
    padding: 4px 20px;
    display: inline-block;/* để có thể padding nếu như k padding dc nó có ý nghĩa là xuống dòng*/
    
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:first-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-menu::before{
    cursor: pointer;
    content: "";
    border-style: solid;
    border-width:16px 20px;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top:-28px;
}
.header__navbar-user-menu>li:hover{
    background-color: #fafafa;
}

.header__navbar--item--has-qr:hover .header__qr{
    display: block;/* để hiển thị lại QR code*/
}


.header__navbar--item--has-notify:hover .header__notify{
    display: block;
}
/* để làm cho khi di chuột vào chữ nó mờ đi */
.header__navbar--item:hover,.header__navbar--item--link:hover{
    color: rgba(255,255,255,0.7);
}

.header__navbar--item,
.header__navbar--item--link{
 display: inline-block;/* đưa các thẻ li lên cùng 1 hàng */
 font-size: 1.4rem;
 color:var(--white-color);      
 text-decoration: none;
 font-weight: 300px;/*làm mỏng chữ */
}

/* tạo gạch giữa F8 và Kết nối */
.header__navbar--item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fb9086;
    height: 16px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}/* cần di chuyển theo chiều dọc*/
.header__navbar_icon_link{ 
    color:var(--white-color);
    text-decoration: none;
}
.header__navbar_icon_link:nth-child(2){
    margin-left: 1px;
}
/* header Qr CODE */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left:0;
    top:118%;
    padding: 8px;
    border-radius: 2px;
    display: none;/* ẩn khỏi layout*/
    animation: fadeIn ease-in 0.4s ;/* animation: tên của keyframe đã đặt bên
     file base.css tiếp kiểu hiển thị tiếp đó thời gian hiện */
     z-index: 1;/* ngăn chặn tình trạng các thẻ khác hiển thị đè lên bảng list khi xổ xuống */
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);/*tạo bóng đổ tránh lẫn màu vào nhau*/
}
/* sudo bắc cầu */
.header__qr::before{
    content: "";
    display: block;
    width:120% ;
    height:14%;
    position: absolute;
    left:0;
    top:-16px;
}
.header__qr-img{
    width: 100%;
}

.header__qr-apps{
display: flex;/* lên ngang hàng */
justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:last-child{
    margin-right: 10px;
}

.header__qr-download-img{
height: 16px;
}
/* header notification phần css cho bảng thông báo */
.header__notify{
    z-index: 1;
    border-radius: 2px;
    width:404px;
    top:100%;
    right:0px;
    background-color: var(--white-color);
    position: absolute;
    border: rgba(0,0,0,0.1) thin solid;
    display: none;
    will-change: opacity,transform;/* thuộc tính làm trình duyệt hiểu các giá trị có sự thay đổi */
    transform-origin: calc(100% - 32px) top;/* thuộc tính định tâm các thuộc tính calc(100%-20px) là đi từ trái sang phải 90% và thuộc tính top là giữ cho top giữ nguyên  */
    animation: headerNotifyGrowth ease-in 0.2s;
    cursor: default;/* bỏ ngón tay thay bằng con trỏ mũi tên không toàn bộ chỉ những gì bấm vào dc thì để hình bàn tay  */
}

/*sử dụng  sudo element giả tạo ra mũi tên lên đâm vào từ thông báo  */
.header__notify::before{
    content: "";
    border-style: solid;
    border-width: 20px 36px;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top:-36px;
}
/* đây là cầu nối giúp trải nghiệm người dùng khi di chuột từ thông báo xuống sẽ k bi hụt */
.header__notify::after{
    content:"";
    display: block;
    position: absolute;
    width: 90px;
    height: 12px;
    top:-20px;
    right: 0px;
   
}

@keyframes headerNotifyGrowth{/* khi ấn vào thì nở ra */
    from{
        opacity: 0;
        transform: scale(0); /* thuộc tính stranform có thuộc tính scale() lớn lên */
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
   color: #999;
   margin: 0 0 0 12px;
   font-weight: 400px;
   font-size: 1.8rem;
   line-height: 40px;/* chiều cao của dòng */
   cursor: text;/*tạo ra con trỏ để nhập dòng text*/
   user-select: none;/* tránh copy text*/
}

.header__notify-list{
    padding-left: 0px;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238,75,43,0.08);
}

.header__notify-link{
    display:flex;
    padding:12px;
    width: 100%;
    text-decoration: none;
   
}

.header__notify-img{
    width: 48px;
    object-fit: contain;/*thuộc tính này chống méo ảnh khi có display:flex;*/
} 


.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;/*để tạo thành 2 khối */
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400px;
}

.header__notify-description{
    display: block;
    font-size: 12px;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400px;
    text-align: center;
    display: block;
    border-bottom: 1px grey thin solid;
}

/*AUTHEN MODAL*/
.auth-form{
    width:500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;/*nếu thuộc tính con lớn hơn thuộc tính cha nếu chòi ra thì ẩn đi */
}
.auth-form__container{
    padding: 0px 32px;
}

.auth-form__header{
    display: flex;
    padding:0px 12px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400px;
    color:var(--text-color);
}

.header-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 500px;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width:100%;
    height:40px;
    margin-top: 16px;
    outline: none;
    padding: 0px 12px;
    font-size: 1.4rem;
    
    /* border: 1px thin var(--border-color); */
}

.auth-form__input:focus{
    border-color: rgb(136, 136, 136);
    
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;/*lên ngang hàng */
    justify-content: flex-end;/*đẩy sang bên phải */
}

.auth-form__socials{
   background-color: #f5f5f5;
   padding: 16px 36px;
   display: flex;
   margin-top: 22px;
   justify-content: space-between;/* hai thuộc tính display: flex và justify-content:space-between dùng để căn sang hai đầu của ảnh google và ảnh facebook*/
}

.auth-form__control-back{
    margin-right: 8px;/* khoảng cách giữa nút trở lại và nút đăng  kí */
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3a5a98;
    color:var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color:var(--white-color);
}

.auth-form__socials--google{
    color:#666;
    background-color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0px 24px;
}
/*css login form*/
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: 1px 16px 0px;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot{
    color:var(--primary-color);
}

/*header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0px 8px;
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    color:transparent;/*tránh để có border bao quanh*/
    text-decoration: none;
}
.header__logo-img{
    width: 150px;
    color:var(--white-color);
}
.header__search{
    display: flex;
    align-items: center;
    flex:1;
    border-radius: 2px;
    height: 40px;
    background-color: var(--white-color);
}
/* Header giỏ hàng trống */
.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding:0 16px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

/* Cart item giỏ hàng sản phẩm chi tiết */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color:#999;
    font-weight: 400px;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 400px;
    overflow: auto;/* tạo thanh croll trượt để xem sản phẩm nếu dài quá chiều dài
                        mà ta cố định */
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}


.header__cart-img{
 width: 42px;
 height: 42px;
 margin: 12px;
 border: 1px solid #e8e8e8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500px;
    color:var(--text-color);
    margin: 0px;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex:1;/* đẩy lên 1 dòng nếu bị tụt xuống 2 dòng */
    padding-right: 16px;
    display: --webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp: 2;
    text-align: left;
    /* tạo dấu 3 chấm nếu chữ dài quá 
     display: --webkit-box; -webkit-box-orient:vertical ; -webkit-line-clamp: 2;*/
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400px;
    color:var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin:0 4px;
    color:#757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color:#757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;/* đẩy ra xa */
    
}
.header__cart-item-description{
    color:#757575;
    font-size: 1.2rem;
    font-weight: 300px;
    margin-top: 12px;
}
.header__cart-item-remove{
    color:var(--text-color);
    font-size: 1.4rem;
    margin-top: 12px;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color:var(--primary-color); 
}
.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #f05d41;
}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    border-style: solid;
    border-width: 16px 20px;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top:-28px;

}

.header__cart-icon{
font-size: 2rem;
color:var(--white-color);
margin-top: 6px;
}

.header__cart-list{
    position: absolute;
    top:calc(100%+2px);
    right: 1px;
    margin-top: 10px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125px rgb(0,0,0,0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;/* mất con trỏ*/
    z-index: 1;
}
.header__cart-list--no-cart{
    padding: 24px 45px;
    margin-top: 10px;
    text-align: center;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart--no-cart-img{
    display: none;
    width: 60%;
}
.header__cart-list--no-cart-msg{
    display: none;
    /* display: block; trường hợp không có sản phẩm trong giỏ hàng */
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
/* hiển thị số lượng sản phẩm đã mua trong giỏ hàng */
.header__cart-notice{
    top:-4px;
    right: -4px;
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 2px solid #ee4d2d;
}

.header__search-input-wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline:none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius:2px;
}
.header__search-select{
    border-left: 1px solid #8e8e8e;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label{
    font-size: 1.4rem;
    color:var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color:rgb(131,131,131);
    margin: 0 16px 0 8px;
    position: relative;
    top:1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    outline:none;
    height:34px;
    border-radius:2px;
    border-right:3px;
    text-align: center;
    margin-right: 3px;
    
}
.header__search-select:hover .header__search-option{
    display: block;/* khi di chuột vào hiện lên */
}

.header__search-btn:hover{
    background-color:#fb6445;
    cursor: pointer;/* tạo con trỏ bàn tay */
   
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color:var(--white-color);
    margin: 10px;
 
}
.header__search-option{
    position: absolute;
    right: 0;
    top:calc(100% + 4px);
    width:130px;
    list-style: none;/* giống text-decoration: none;*/
    box-shadow: 0 1px 2px #e0e0e0;/* thông số 0 thứ nhất là trục x còn 0 là trục y còn 3px là độ mờ bóng đổ */
    padding-left: 0px;
    border-radius:2px;
   /* overflow: hidden;những thằng con dài chọc ra ngoài thì ẩn đi */
    display: none;
    animation: fadeIn ease-in 0.2s;/* thuộc tính hiện màu từ từ */
    z-index: 1;

}
/* cầu nối */
.header__search-option::after{
    content:"";
    display: block;
    position: absolute;
    width: 90px;
    height: 12px;
    top:-10px;
    right: 0px;
}

.header__search-option-item{

    background-color:var(--white-color);
    padding:8px 8px;  
}
/* phần bo góc khi nhấn vào trong shop sẽ bo phần hiện ra */
.header__search-option-item:first-child{
    border-top-left-radius:3px;
    border-top-right-radius:3px ;
}
.header__search-option-item:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px ;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color:var(--text-color);
    margin-left: 8px;

}

.header__search-option-item i{
    font-size: 1.2rem;
    color:var(--primary-color);
    margin-left: 12px;
    display: none;

}

.header__search-option-item--active i{
    display: inline-block;/*hiện lên */
}
/*Search history*/
/*khi đặt con trỏ chuột vào lịch sử tìm kiếm thì nó hiện ra lịch sử */
.header__search-input:focus~.header__search-history{
    display: block;

}
.header__search-history{
    position: absolute;
    top:calc(100% + 2px);
    left:0;
    width:calc(100% - 16px);
    background-color: var(--white-color);
    border-radius:2px;
    box-shadow: 0 1px 3px rgb(189,189,189);
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    font-size: 1.4rem;
    margin: 6px 12px;
    font-weight: 400px;
    color:#999;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin-bottom:6px 0px 0px;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;/* căn chữ giữa*/
    color: var(--text-color);
    display: block; 
}

/*App container*/
.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 36px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);

}

.category__heading{
    font-size:1.7rem;
    color:var(--text-color);
    padding:16px 16px 0;
    margin-top: 0;/* bỏ khoảng mặc định của thẻ */
    text-transform:uppercase ;/* chuyển thành chữ in */
}

.category-list{
    padding:0 0 8px 0;/* bỏ cách trái */
    list-style: none;
    /* margin-left: 9px; */
}
.category-item{
    position: relative;
}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content:"";
    position: absolute;
    top:0;
    left:20px;
    right:20px;
    border-top: 1px solid #e1e1e1;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    content: "";
    top:50%;
    left:7px;
    transform: translateY(calc(-50% - 1px));/* thuộc tính dịch chuyển vật theo trục dọc Y lên xuống */
    position: absolute;
    border:4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    /* position: relative; */
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration:none;
    padding: 6px 20px;
    display: block;
    right:0px;
    transition:right linear 0.1s;/*định nghĩa chuyển động khi hover vào thì sẽ chuyển động như thế nào 
    thuộc tính cần chạy right kiểu chạy linear thời gian chạy 0.1s để thuộc tính chạy cần thêm
    bên hover right:-4px*/
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter*/
.home-filter{
   
    display: flex;/* làm item nằm ngang*/
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.04);
    width: calc(160% - 150px);
}
.home-filter__label{
    font-size: 1.4rem;
    color:#555555;
    margin-right: 16px;
}
.home-filter__page{
    display: flex;/* làm item nằm ngang*/
    align-items: center;
    margin-left: auto;/* đẩy sang phải */
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page-num{
    font-size: 1.5rem;
    margin-right: 22px;
    color:var(--text-color);
}
.home-filter__page-current{
    color:var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height:36px;/*thẻ cha có thuộc tính display:flex và width:72px;height:36px;
     thì thẻ con home-filter__page-btn thì flex:1; chia đôi thẻ con ra*/
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn--disabled{
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-ico{
    color:#ccc;
}
.home-filter__page-btn:first-child{
    border-right:1px solid #ccc ;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color:#eee;
}
/*Product item */
.home-product{
    background-color:rgb(207, 204, 204);
}
.home-product-item{
    display: block;/* do thẻ a không có display:block nên ta thêm vào */
    text-decoration: none;
    position: relative;
    padding-top: 10px;
   background-color: var(--white-color);
   border-radius: 2px;
   box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
   transition:transform linear 0.1s ;/* khi có chuyển động thì sẽ animation*/
   will-change: tranform;
   
}
.home-product-item--private{
    top:-10px;
}

.home-product__pagination{
    margin-top: 48px 0 32px 0;
}
.home-product-item:hover{
    box-shadow: 0 1rem 20rem 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}
.home-product-item__img{
    padding-top: 100%;/* được hiểu là chiều ngang của thẻ chứa nó */
    background-repeat: no-repeat;
    background-size: contain;/* tạo ảnh chiếm chọn khung ảnh */
    background-position: top center;/* căn giữa trọng tâm của ảnh */
    border-top-left-radius:2px ;
    border-top-right-radius: 2px;
    position: relative;
    top: -10px;
}
.home-product-item__name{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 400px;
    margin: 6px 10px 6px;
    line-height: 1.8rem;
    /* Từ dòng 949->955 tạo dấu 3 chấm nếu chiều dài chữ quá hai dòng */
    height:3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    /* white-space: nowrap; thuộc tính này kết hợp với text-overflow: ellipsis; chặn lại thêm dấu 3 chấm  */
    
}
.home-product-item__price{
    display:flex;
    margin-left: 10px;
    align-items: baseline;/* lấy chân dòng làm chuẩn */
    margin-top: -3px;
}
.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color:#666;
    text-decoration: line-through;/* gạch ngang giá */
    flex-wrap: wrap;/*tránh đẩy giá ra khỏi khung*/

}
.home-product-item__price-current{
    font-size: 1.6rem;
    color:var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;/*lên 1 hàng*/
    justify-content: space-between;/* mỗi thẻ 1 bên đi cùng thuộc tính display:flex*/
    margin: 3px 10px -1px;

}
.home-product-item__like{
    font-size: 1.2rem;
}

i.home-product-item__like-icon-fill{
    color:#f63d30;
    display: none;
}
/*khi like tim hiện khối đặc */
.home-product-item__like--liked
.home-product-item__like-icon-fill{
    display: inline-block;
}
/* ẩn tim khối rỗng*/
.home-product-item__like--liked
.home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__raitting{
    font-size: 1rem;
    transform: scale(0.8);/* khi kích thước không thể thay đổi được nữa
    ta dùng thuộc tính này để thay đổi*/
    transform-origin: right;/*đặt lại tâm sang phải tránh thuộc tính 
    transform tâm ở giữa sẽ sinh ra khoảng margin vs bên phải */
    margin-left: auto;/* đẩy gần thẻ tiếp theo nhất trên chiều ngang 88 đã bán */
    margin-top: -1px;/*hoặc dùng thuộc tính position: relative; và top:-1; cũng có hiệu 
                    tương đương*/

}
/* ngôi sao vàng*/
.home-product-item__star--gold{
    color:var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color:var(--text-color);
    margin-left: 6px;
}
/* CSS tên nhà cung cấp và tên nước cung cấp */
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin:3px 10px 0;
    color:#595959;
    font-size: 1.2rem;
    font-weight: 300px;
    /* có thể dùng margin-left:auto; đối với con bên phải 
    hoặc margin-right: auto; đối với con bên trái 
    có tác dụng tương tự như display:flex kết hợp justify-content:space-between;
    */
}
/* Css nhãn yêu thích */
.home-product-item__favourite{
    position: absolute;
    top:20px;
    left:-4px;
    color: var(--primary-color);
    background-color: currentColor;/* thuộc tính làm thay đổi màu */
    font-size: 1.2rem;
}
.home-product-item__favourite span{
    color:var(--white-color);
}
.home-product-item__favourite::after{
    content:"";
    left:0;
    bottom: -3px;
    position: absolute;
    border-top:3px solid currentColor;
    border-left:3px solid transparent;/* transparent màu trong suốt */
    filter: brightness(60%);/*giảm độ sáng đi 40% */
}
.home-product-item__favourite i{
    margin: 0 2px 0 5px;
    font-size: 0.9rem;
    line-height: 1.6rem;/* nếu chiều cao của dòng lớn hoặc nhỏ setup lại thuộc tính trên */
    padding-right: 4px;
    color:var(--white-color);
    border-top-right-radius:3px; 
    border-bottom-right-radius:3px ;
}
/* Css nhãn giảm giá */
.home-product-item__sale-off{
    position: absolute;/* do thẻ con */
    top:0;
    right:0;
    width: 40px;
    height: 36px;
    background-color:rgba(255,216,64,0.94);
    text-align: center;
    border-top-right-radius: 2px;
}
/* taoj hình đuôi cá dưới nhãn giảm giá */
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color:transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);

}
.home-product-item__sale-off-percent{
    color:#ee4d3d;
    font-weight: 600px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top:2px;   
}
.home-product-item__sale-off-label{
    color:var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top:2px;
}
/*footer*/
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    margin-top: -8px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color:var(--text-color);
}
.footer-list{
    padding-left: 0px;
    list-style: none;
}
.footer-item__link{
    font-size: 1.2rem;
    color:#737373;
    text-decoration: none;
    padding:2px 0 2px 0;
    display: flex;
    align-items: center; 
}
.footer-item__link:hover{
    color:var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: 0 3px 2px 3px;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    height: 80px;
    width: 80px;
    border: 1px solid var(--border-color);
    object-fit: contain;/* chuyển trục menaxit của ảnh trở lại vị trí */
}
.footer__download-apps{
    flex:1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img{
    height: 16px;
}
.footer__download-app-link{
    display: block;
    text-decoration: none;
    color: transparent;
}
.footer__bottom{
    margin-top: 30px;
    padding: 60px 0;
    background-color:#f5f5f5;
}
.footer__text{
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
}