
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* Start header*/
header,.menu,article,aside,footer,.category__item{
    border: rgb(182, 155, 121) thin solid;
}
header{
    height:100px;
    background-color: rgb(225, 235, 141);
}
.header__logo{
    overflow: hidden;/*nếu thuộc tính con lớn hơn thuộc tính cha nếu chòi ra thì ẩn đi */
}
.header__logo-img{
    height: 90px;
    width:160px;
    padding: 8px 0 2px 20px;

}
.header__search,.header__cart{
    padding: 34px 0 20px 90px;
}
.header__search,.header__logo,article,aside,footer,.header__search-btn,.header__search-input,.header__cart-icon{
    float: left;
}
.header__search-input{
    width: 400px;
}
.header__search-btn{
    height: 30px;
    width: 30px;
    margin: 6px 20px 0 -30px;
}
.header__cart{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    cursor: pointer;
    
}
.header__cart-icon{
    font-size: 2.5rem;
}
/* End header*/
/* Start navbar*/
.menu{
    height:30px;
    padding-left: 0;
    background-color: lightblue;

}
.menu__list{
    padding:0 10px 0 -5px;
    margin: 0 0 0 36px;
    list-style: none;
}
.menu__list-item{
    float: left;

}
.menu__list-item:first-child{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
}
.menu__list-item>a{
    width: 10px;
    padding:20px 15px;
    text-decoration: none;
    text-align: center;
    color:rgb(73, 67, 60);
}

/*End Navbar*/
/* Start content col-md-8*/
article,aside{
    /* height:calc(100% - 10px); */
}
.category__item{
    width: 252px;
    background-color: rgb(185, 197, 204);
    height: 50px;
    text-align: center;
    font-size: 1.6rem;
}
.category__product,.title__brand{
    background-color:rgb(61, 94, 131) ;
    color:var(--white-color);
    text-align: center;
    font-size: 1.3rem;
    height: 50px;
    width: inherit;
}
.col-md-2,.category__product,.category__item,.title__brand{
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* margin-left: 0 !important;
    margin-right: 0 !important; */
}
/*Start footer*/

.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    margin-top: -8px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color:var(--text-color);
}
.footer-list{
    padding-left: 0px;
    list-style: none;
}
.footer-item__link{
    font-size: 1.2rem;
    color:#737373;
    text-decoration: none;
    padding:2px 0 2px 0;
    display: flex;
    align-items: center; 
}
.footer-item__link:hover{
    color:var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: 0 3px 2px 3px;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    height: 80px;
    width: 80px;
    border: 1px solid var(--border-color);
    object-fit: contain;/* chuyển trục menaxit của ảnh trở lại vị trí */
}
.footer__download-apps{
    flex:1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img{
    height: 16px;
}
.footer__download-app-link{
    display: block;
    text-decoration: none;
    color: transparent;
}
.footer__bottom{
    margin-top: 30px;
    padding: 60px 0;
    background-color:#f5f5f5;
}
.footer__text{
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
}

.grid{
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;/* top và bottom =0 còn trái phải bằng auto để căn giữa */
}
/* css này nếu ko muốn dùng css .grid */
.grid__full-width{
    width:100%;

}
/*những thẻ nào được chứa trong class này thì nó nằm trên một hàng ngang */
/* dùng để nếu những thẻ con mà có chiều dài lớn hơn thẻ có class .grid_row thì nó tự động xuống dòng */
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}

/*Test*/
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/*  Product card home*/
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.image img{
    width: 250px;
    height: 250px;
}
.product-grid{
    display: block;
    height: 350px;
    width: 300px;
    margin: -80px 5px 5px 5px;
    text-align: center;
    font-family: 'century gothic';
}
.product-grid .product-image{
    border:2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.product-grid:hover .product-image{
    border-color: #693593;
}
.product-grid .product-image a.image{
    display: block;
}
.product-grid .product-image{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image img{
    transform:scale(1.2);
}
.product-grid .hot-label{
    color:#fff;
    background: #ff3859;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top:10px;
    right: 10px;
    font-weight: 700;
    text-align: center;
}
.product-grid .links{
    font-size: 0;
    background: #693593;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.product-grid:hover .links{opacity: 1;}
.product-grid:hover .links li{
    padding: 0 10px;
    border-right: 1px solid rgba(255,255,255,0.5);
    display: inline-block;
}
.product-grid .links:last-child{
    border: none;
}
.product-grid .links li a{
    color: #fff;
    position: relative;
    transition: all 0.3s ease 0s;
}
.product-grid .product-image .links li a:hover{color:#fff;}
.product-grid .links li a::before,
.product-grid .links li a::after{
    content: attr(data-tip);
    color: #111;
    background-color: #111;
    font-size: 12px;
    padding: 7px 8px 5px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
    left: 50%;
    top:-30%;
    transition:opacity .2s ease,visibility .5s ease, top .3s cubic-bezier(.71,1.7,.77,1.24);

}
.product-grid .links li a::after{
    content:'';
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: none;
    transform:translateX(-50%) rotate(45deg);
    top:-15px;
    z-index: 1;
}
.product-grid .links li a:hover:before{top:-39px;}
.product-grid .links li a:hover::after{top:-17px;}
.product-grid .links li a:hover:before,
.product-grid .links li a:hover::after{
    opacity: 1;
    visibility: visible;
}
.product-grid .product-content{
    padding: 12px;
}
.product-grid .title{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.product-grid .title a:hover{color:#333;}
.product-grid .price{
    color:#693593;
    font-size: 16px;
    font-weight: 500;
}
@media(max-width:768px){
    .wrapper{
        flex-direction: column;
    }
    .product-grid{
        margin-bottom: 100px;
    }
}
:root{
    --primary-color:rgba(255,216,64,0.94);;
    --white-color:#fff;
    --white-black:#000;
    --text-color:#333;/* màu chữ */
    --border-color:#dbdbdb;
    --navbar-height:34px;
    --header-height:120px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
    --star-gold-color:#ffce3e;
    --background:orange;
    }